

body {
  margin: 0px;
  width:  100%;
  height: 100%;
  background-color: #3E005C;
}

/*
 * This is the start of all the general stuff that describes the
 * top nav bar. It sets up the srtucture into which the icons
 * are put.
*/

#TOP_NAV_BAR {
  -webkit-app-region: drag;
  background-color: #009DA0;
  height: 40px;
}

#TOP_NAV_BAR ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-align: left;
  height: 40px;
}

#TOP_NAV_BAR li {
  -webkit-app-region: no-drag;
  display: inline;
}

#TOP_NAV_BAR a {
  text-decoration: none;
}

#TOP_NAV_BAR img {
  -webkit-app-region: no-drag;
  height: 40px;
  background-repeat: no-repeat;
}

#TOP_NAV_BAR img:hover {
  background-color: #0000FF;
}

.topLeftButtons {
  float: left;
  width: 48px;
}

.topRightButtons {
  float: right;
  width: 48px;
}

/*
 * The general stuf describing the top nav bar ends here,
 * and the speciffic stuff for each individual button begins.
 * The way this works is that each icon consists of 2 frames,
 * and on the hover, we move the image to expose the other
 * frame. Unfortunetly, I haven't yet found a way to avoid
 * styling each button individually yet. I have done as much
 * as I could in the general stuff, but each button still
 * requires an individual setting for the background image
 * and its own hover code.
*/

#settingsBtn {
  float: left;
  width: 150px;
  background: url('images/icons/gear.png');
}

#settingsBtn:hover {
  background-position: -150px 0px;
}

#undoBtn {
  background: url('images/icons/undo.png');
}
#undoBtn:hover {
  background-position: -48px 0px;
}

#redoBtn {
  background: url('images/icons/redo.png');
}
#redoBtn:hover {
  background-position: -48px 0px;
}

#copyBtn {
  background: url('images/icons/copy.png');
}
#copyBtn:hover {
  background-position: -48px 0px;
}

#pasteBtn {
  background: url('images/icons/paste.png');
}
#pasteBtn:hover {
  background-position: -48px 0px;
}

#drawRectangleBtn {
  background: url('images/icons/draw_rectangle.png');
}
#drawRectangleBtn:hover {
  background-position: -48px 0px;
}

#fillRectangleBtn {
  background: url('images/icons/fill_rectangle.png');
}
#fillRectangleBtn:hover {
  background-position: -48px 0px;
}

#drawEllipseBtn {
  background: url('images/icons/draw_ellipse.png');
}
#drawEllipseBtn:hover {
  background-position: -48px 0px;
}

#fillEllipseBtn {
  background: url('images/icons/fill_ellipse.png');
}
#fillEllipseBtn:hover {
  background-position: -48px 0px;
}

#topRightMinimizeBtn {
  background: url('images/icons/minimize.png');
}
#topRightMinimizeBtn:hover {
  background-position: -48px 0px;
}

#topRightCloseBtn {
  background: url('images/icons/close.png');
}
#topRightCloseBtn:hover {
  background-position: -48px 0px;
}





#verticalButtonBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
    background-color: #009DA0 ;
    font-size: 20px;
}

#verticalButtonBar li a {
    display: block;
    color: #000;
    padding: 15px 0px 14px 16px;
    text-decoration: none;
}

#verticalButtonBar li a:hover {
    background-color: #0000FF;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #96E9FF;
    min-width: 100px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.show {display: block;}

